doctype html 
html
   head 
     meta(charset='UTF-8')
     meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
     link(rel="stylesheet", href="../style.css")
 
 
   body 
      header
        h1 Cafe Schedule Website 
        button(class ='logout',type='submit') LOGOUT
        block navBar 
               a(href='/')
                col-md-3 Home
               a(href="/login")
                col-md-3 Login
               a(href="/signup")
                col-md-3 Sign Up 
                             
      img(class ='layout',src="logo_mrcoffee.png", alt="Logo of Cafe")            
                
        
      block content 
      br
      hr
      footer  
        p copyright &copy; 2021 