doctype html 
html
   head 
     meta(charset='UTF-8')
     meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
     link(rel="stylesheet", href="../style.css")
     title #{title}
    
   body
     header
        h1 Cafe Schedule Website 
        img(src = "logo_mrcoffee.png")
        block content
         div.text-center
          form( class= 'form-login',action='http://localhost:3000/login', method='POST') 
            p| Email Address
            input(name='email', value='', type='email')
            p| Password
            input(name='password', value='', type='password')
            p|
            button(type='submit') LOGIN
            p Not a member  
             a(href ="/signup",id='signup')
              col-md-3 SIGN UP