
block content
  include partials/nav_after
  h2 Enter User Schedule
  div.text-center
    form(class ='scheduleForm',action='http://localhost:3000/schedule', method='POST') 
        label(for='ID_user') User Id:
        input(name='userId', value='', type='number')
        label(for='day') Day:
        input(name='day', value='',min='1',max='7', type='number')
        label(for='start_at') Start at:
        input(name='start_at', value='00:00:00', type='time',step='10')
        label(for='end_at') End at: 
        input(name='end_at',value='00:00:00', type='time',step='10')
        p
        button(class ='submitBtn',type='submit') Submit
    
  div
   h2 Schedules   
   table.table.table-hover
    thead
      tr
        th User_id
        th Day 
        th Start at
        th End at
      br
    tbody
      each schedule in schedules
        tr
          td=schedule.ID_user
          td=days[schedule.day-1]
          td=schedule.start
          td=schedule.end
        br

  footer  
      p copyright &copy; 2021             